{% extends "admin.html.twig" %}

{% block stylesheets %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css">
{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script>
    <script>
        $("#{{ edit_form.users.vars.id }}").select2({width: '100%'});
    </script>
{% endblock %}


{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Édition d'une UE</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="item">
                    {{ form_start(edit_form) }}
                        {{ form_widget(edit_form) }}
                    {{ form_end(edit_form) }}
                </div>
            </div>
        </div>
{% endblock %}