<div class="row">
    <div class="col-md-12">
        <div class="form-group row">
            <div class="col-md-3">
                <label>
                    <input type="checkbox" name="groupes[{{ it }}][id][{{ id }}]">
                    {{ name }}
                    </label>
                </div>
            <label for="inputValue" class="col-md-3 control-label text-right">rendu :</label>
            <div class="col-md-3">
                <input type="date" class="form-control" id="inputValue" placeholder="Value" name="groupes[{{ it }}][date]">
            </div>
        </div>
    </div>
</div>