{% extends 'base.html.twig' %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Affichage des devoirs </h1>
                {% if "ROLE_ENSEIGNANT" in app.user.roles %}
                <h2>
                    <small>
                        {% for ue in app.user.ues %}
                            {{ ue.code ~ '-' ~ ue.nom }}<br/>
                        {% endfor %}
                    </small>
                </h2>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                {{ dump(data) }}
                <div class="item">
                    {% if "ROLE_ENSEIGNANT" in app.user.roles %}
                        {% include "DepotBundle:Partials/Default:liste_enseignant.html.twig" with {'data': data} %}
                    {% else %}
                        {% include "DepotBundle:Partials/Default:liste_etudiant.html.twig" with {'data': data} %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
