{% extends "base.html.twig" %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Modifier les options de mon profil</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="item">
                    {{ form_start(edit_form) }}
                    {{ form_widget(edit_form) }}
                    {{ form_end(edit_form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}