{% extends "admin.html.twig" %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Administration</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="item">
                    <h3>Bienvenue sur l'interface d'administration !</h3>
                </div>
            </div>
        </div>
    </div>

{% endblock %}